<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <form class="form-horizontal" (ngSubmit)="login(f.valid)" #f="ngForm" novalidate>
                <div class="input-group mb-1"  [ngClass]="identifier.valid || (identifier.pristine && !f.submitted)? '':'has-danger'">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" class="form-control" name="identifier" [(ngModel)]="userData.identifier" placeholder="Username" required #identifier = "ngModel">
                </div>
                <div class="input-group mb-2" [ngClass]="password.valid || (password.pristine && !f.submitted)? '':'has-danger'">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" class="form-control" name="password" [(ngModel)]="userData.password" placeholder="Password" required #password = "ngModel">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-2">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" (click)="forgetPassword()" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <h2>My Tips - Admin</h2>
                <p>My tips app is an effectual app, toggles the techniques to human in devalued cost and simplex style.</p>
                <button (click)="Register()" type="button" class="btn btn-primary active mt-1">Register Now!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
