<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List of Categories
            </div>
            <div class="card-block">

                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>No of items</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let category of Categories | paginate: { itemsPerPage: itemsPPage, currentPage: curPage };let i = index">
                            <td>{{pagination(i,curPage)}}</td>
                            <td><img width="50" [src]="category.imageURL"></td>
                            <td><span class="tipTitle">{{category.name}}</span></td>
                            <td>{{category.count}}</td>
                            <td>
                                <button class="btn btn-success btn-sm" type="button">Edit</button>
                                <button class="btn btn-danger btn-sm" type="button" (click)="DelCategory(category)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="curPage = $event" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
                <!--<nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void()">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void()">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">Next</a></li>
                    </ul>
                </nav>-->

            </div>
        </div>
    </div>
    <!--/.col-->
</div>