<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List of Categories
            </div>
            <div class="card-block">
                <table class="rwd-table table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>No of items</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Category of Categories">

                            <td data-th="Image"><img width="50" [src]="Category.imageURL"></td>
                            <td data-th="Title"><span class="categoryTitle">{{Category.name}}</span></td>
                            <td data-th="No of items">{{Category.count}}</td>
                            <td data-th="Actions">
                                <button class="btn btn-success btn-sm point" type="button" [routerLink]="['/CategoryEdit',Category.id]">Edit</button>
                                <button class="btn btn-danger btn-sm point" type="button" (click)="DelCategory(Category)">Delete</button>

                                <button class="btn btn-primary btn-sm" type="button" (click)="makePublish(tip)">make Publish</button>
                                </template>-->
                                <template *ngIf="Category.status === 'ACTIVE'">
                    <button  class="btn btn-info btn-sm" type="button">Active</button>
                  </template>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--/.col-->
</div>