<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Search
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="form-group col-md-2">
                        <select class="form-control" [(ngModel)]="categoryIdVal">
                            <option value="all">All Categories</option>
                            <option value="unpublished">Unpublished</option>
                            <option *ngFor="let category of Categories" value="{{category.id}}">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-7">
                        <input type="text" class="form-control" [(ngModel)]="searchText" id="searchText" placeholder="Search">
                    </div>
                    <div class="form-group col-md-3">
                        <button (click)="searchTips(searchText, categoryIdVal)" type="button" class="btn btn-default point">Search</button>
                        <button (click)="clearSearch()" type="button" class="btn btn-default point">Clear</button>
                    </div>


                </div>
            </div>
        </div>
        <my-loader *ngIf="showSpinner"></my-loader>
        
        <div class="card" *ngIf="showPage">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> List of All Vendor Tips
            </div>
            <div class="card-block">
                <table class="rwd-table table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Vendor Name</th>
                            <th>Post Image</th>
                            <th>Title</th>
                            <th class="gender">Gender</th>
                            <th>Category</th>
                            <th class="like">Likes</th>
                            <th class="fav">Favs</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let tip of tips | paginate: { itemsPerPage: itemsPPage, currentPage: curPage };let i = index" [attr.data-index]="i">
                            <td data-th="Index">{{pagination(i,curPage)}}</td>
                            <td data-th="Vendor Name">{{tip.firstName}}</td>
                            <td data-th="Post Image"><img width="50" [src]="tip.images"></td>
                            <td data-th="Title"><span class="tipTitle">{{tip.title}}</span></td>
                            <td class="gender" data-th="Gender">{{tip.genderSpecific}}</td>
                            <td data-th="Category">{{tip.category}}</td>
                            <td class="like" data-th="Likes">{{tip.likes.length}}</td>
                            <td class="fav" data-th="Favs">{{tip.favourites.length}}</td>
                            <td data-th="Actions">
                                <!-- <button class="btn btn-success btn-sm" type="button" [routerLink]="['/TipsEdit',tip.id]">Edit</button> -->
                                <button class="btn btn-danger btn-sm point" type="button" (click)="removeTip(tip)">Delete</button>
                                
                                    <button *ngIf="tip.status === 'UNPUBLISH' && hideRole('VENDOR')" class="btn btn-primary btn-sm point" type="button" (click)="makePublish(tip)">make Publish</button>
                               
                               
                                     <button *ngIf="tip.status === 'ACTIVE'" class="btn btn-info btn-sm" type="button">Active</button>
                               

                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="changePage($event)" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
                <!--<nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="javascript:void()">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void()">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void()">Next</a></li>
                    </ul>
                </nav>-->
            </div>
        </div>
    </div>
    <!--/.col-->
</div>