fieldset { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

.gllpLatlonPicker	{ margin: 20px 0; }
/* If the map DIV doesn't have a size set up, it won't appear on the page */
agm-map {
    height: 300px;
  }


