<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Vendor Details</strong>
            </div>
              <form class="form-horizontal" (ngSubmit)="submitButton()" #f="ngForm" novalidate>
            <div class="card-block loadingOuter">
                <div class="loadingBar" *ngIf="showLoading">
                </div>
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">First Name</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" name="firstName" [(ngModel)]="userDetails.firstname" placeholder="first name..." required>
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-md-2 form-control-label">Last Name</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" name="lastName" [(ngModel)]="userDetails.lastname" placeholder="last name..." required>
                        </div>
                    </div>
                     <div class="form-group row">
                        <label class="col-md-2 form-control-label">Mobile Number</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" name="mobileNumber" [(ngModel)]="userDetails.mobilenumber" placeholder="mobile number..." required>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">Email</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" name="email" placeholder="email..." required>
                        </div>
                    </div>

                    <!--<div class="form-group row">
            <label class="col-md-2 form-control-label" for="textarea-input">Description</label>
            <div class="col-md-10">
              <textarea id="textarea-input" [(ngModel)]="tip.description"  name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
              <div [froalaEditor]  [(froalaModel)]="tip.description">Hello, Froala!</div>
            </div>

          </div>-->
                <div class="form-group row">
                        <label class="col-md-2 form-control-label">Adress</label>
                        <div class="col-md-10">
                            <textarea type="text" name="text-input" class="form-control" [(ngModel)]="userDetails.adress" placeholder="Adress..." required></textarea>
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-md-2 form-control-label">Country</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" [(ngModel)]="userDetails.country" placeholder="country..." required>
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-md-2 form-control-label">State</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" [(ngModel)]="userDetails.state" placeholder="state..." required>
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-md-2 form-control-label">City</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" [(ngModel)]="userDetails.city" placeholder="city..." required>
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-md-2 form-control-label">Pin Code</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" [(ngModel)]="userDetails.pincode" placeholder="Pin Code..." required>
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-md-2 form-control-label">LinkedIn</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" [(ngModel)]="userDetails.linkedin" placeholder="Linkedin url..." required>
                        </div>
                 </div>
                <div class="form-group row">
                        <label class="col-md-2 form-control-label">Facebook</label>
                        <div class="col-md-10">
                            <input type="text" name="text-input" class="form-control" [(ngModel)]="userDetails.facebook" placeholder="facebook url..." required>
                        </div>
                </div>
            
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!f.valid"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> -->
            </div>
              </form>
            <!--{{tip | json}}-->
        </div>
    </div>
    <!--/.col-->
</div>